{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./src/components",
          "@common": "./src/common",
          "@assets": "./src/assets",
          "@pages": "./src/pages",
          "@constants": "./src/constants"
        }
      }
    ]
  ]
}
