@font-face {
  font-family: 'SFProDisplay';
  font-style: normal;
  font-display: auto;
  font-weight: 400;
  src: url(../../assets/fonts/SF-Pro-Display-Regular.eot);
  src: url(../../assets/fonts/SF-Pro-Display-Regular.eot?#iefix)
      format('embedded-opentype'),
    url(../../assets/fonts/SF-Pro-Display-Regular.woff2) format('woff2'),
    url(../../assets/fonts/SF-Pro-Display-Regular.woff) format('woff'),
    url(../../assets/fonts/SF-Pro-Display-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'SFProDisplay';
  font-style: normal;
  font-display: auto;
  font-weight: 700;
  src: url(../../assets/fonts/SF-Pro-Display-Semibold.eot);
  src: url(../../assets/fonts/SF-Pro-Display-Semibold.eot?#iefix)
      format('embedded-opentype'),
    url(../../assets/fonts/SF-Pro-Display-Semibold.woff2) format('woff2'),
    url(../../assets/fonts/SF-Pro-Display-Semibold.woff) format('woff'),
    url(../../assets/fonts/SF-Pro-Display-Semibold.ttf) format('truetype');
}
